@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap");

$btn-width: 423px;
$btn-height: 148px;

$border-radius: 22px;
$gradient-direction: 322.24deg;
$base-color: #60d9ff;
$base-color-opacity: -4.38%;
$secondary-color: #1d74ff;
$secondary-color-opacity: 48.84%;

$transition: ease;
$duration: 200ms;

$base-color-hover: #60d9ff;
$secondary-color-hover: #1d74ff;
$base-color-opacity-hover: -3.24%;
$secondary-color-opacity-hover: 57.16%;
$gradient-direction-hover: 126.58deg;

$btn-text-size: 52px;
$btn-text-color: white;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  background: linear-gradient(
    #{$gradient-direction},
    #{$base-color} #{$base-color-opacity},
    #{$secondary-color} #{$secondary-color-opacity}
  );
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.245848),
    inset 4px 4px 8px rgba(175, 230, 255, 0.521689),
    inset -4px -4px 8px rgba(19, 95, 216, 0.356998);
  color: $btn-text-color;
  width: $btn-width;
  height: $btn-height;
  font-family: "Recursive", sans-serif;
  font-size: inherit;
  cursor: pointer;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  outline: none;
  border: none;

  &:before {
    background: linear-gradient(
      #{$gradient-direction-hover},
      #{$base-color-hover} #{$base-color-opacity-hover},
      #{$secondary-color-hover} #{$secondary-color-opacity-hover}
    );
    box-shadow: 0px 5px 50px rgba(71, 184, 255, 0.75),
      0px 10px 10px -4px rgba(58, 125, 233, 0.360113),
      inset 4px 4px 8px rgba(175, 230, 255, 0.521689),
      inset -4px -4px 8px rgba(19, 95, 216, 0.356998);
    width: $btn-width;
    height: $btn-height;
    transition: opacity 500ms;
    border-radius: inherit;
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    z-index: -100;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  p {
    font-size: $btn-text-size;
  }
}
