@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap");

$gradient-direction: 322.24deg;
$base-color: #60D9FF;
$base-color-opacity: -4.38%;
$secondary-color: #1D74FF;
$secondary-color-opacity: 48.84%;
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;

  // font-size: max(5vmin, 16px);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Recursive", sans-serif;
  font-size: inherit;
  cursor: pointer;
  background: linear-gradient(
    #{$gradient-direction},
    #{$base-color} #{$base-color-opacity},
    #{$secondary-color} #{$secondary-color-opacity}
  );
  //   box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
  //     0px 5px 5px -1px rgba(58, 125, 233, 0.245848),
  //     inset 4px 4px 8px rgba(175, 230, 255, 0.521689),
  //     inset -4px -4px 8px rgba(19, 95, 216, 0.356998);
  border-radius: 22px;
}
